@model RateMyMentor.ViewModels.MentorViewModel

<html>
<head>
    <title>Mentor Details</title>
</head>
<body>
<h1>RateMyMentor</h1>
<p>Name: @Model.MentorDetail.Name</p>
<p>Class: @Model.MentorDetail.Class</p>

</body>
</html>